<nav class="menu">
    <div class="menu__wrapper">
        <button class="menu__category">
            <p class="menu__category__title">BORDADOS</p>

            <div class="menu__category__select"></div>
        </button>
    </div>
</nav>
