<nav class="menu">
    <div class="menu__wrapper">
        {{> components/menu-ball }}

        {{> components/menu-button
            title = 'MATKA'
        }}

        {{> components/menu-button
            title = 'BORDADOS'
        }}

        {{> components/menu-slider }}

        {{> components/menu-button
            title = 'GALLERY'
        }}
    </div>
</nav>
