<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lothus boilerplate</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  </head>
  <body>
    {{!-- {{> components/cursor }} --}}

    <div class="app" data-template="{{ template }}">
      <div id="vanta-canvas"></div>

      {{> navigation/menu }}

      {{> @partial-block }}
    </div>

    {{!-- {{> navigation/footer }} --}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.21/vanta.net.min.js"></script>
    <script type="module" src="{{resolve-from-root '../app/canvas/vanta.js'}}"></script>
    
    <script type="module" src="{{resolve-from-root '../app/main.js'}}"></script>
  </body>
</html>
