<div class="menu__button" data-menu-button>
    <p class="menu__button__title">{{title}}</p>

    <div class="menu__button__select">
      <div class="menu__button__select__line__wrapper">
        <div class="menu__button__select__line">
          <p class="menu__button__title__inside">fotografias</p>
          <p class="menu__button__title__inside">abstrato</p>
          <p class="menu__button__title__inside">pessoas</p>
          <p class="menu__button__title__inside">{{title}}</p>
        </div>
      </div>
    </div>
    
    <div class="menu__button__select__content"></div>
</div>