<div class="menu__button" data-menu-button>
    <p class="menu__button__title">{{title}}</p>

    <div class="menu__button__select">
      <div class="menu__button__select__line"></div>
    </div>
</div>