@use "../utils/" as *;

@font-face {
  font-family: 'Patheos';
  src: url('Patheos-Regular.woff2') format('woff2'),
      url('Patheos-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}